@charset "utf-8";




#availableProducts button
{
    padding: 1%;
    margin: 2%;
}

#btnGetDiscount, #btnBargain, #btnGetOneFree, #btnGetPresent {
    min-width: 230px;
    min-height: 90px;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    cursor: pointer;
    background-color: #700D30;
    color: yellow;
    /*border: 5px solid #700D30;*/
}
#btnGetDiscount:hover, #btnBargain:hover, #btnGetOneFree:hover, #btnGetPresent:hover{
    color: #700D30;
    background-color: yellow;
}
