@charset "utf-8";

.homeFontStyle {
    font-size: 750%;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px #0099FF;
}

.endFontStyle {
    font-size: 500%;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px #0099FF;
}

.headerFontStyle {
    font-size: 500%;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px #0099FF;
}

.bodyFontStyle {
    font-size: 250%;
    font-weight: bold;
    color: #00ADFF;
}

.oldPriceFontStyle {
    /*font-size: 150%;*/
}

.discountForPriceFontStyle {
    color: silver;
}

.offerPriceFontStyle {
    /*font-size: 250%;*/
    font-weight: bold;
    color: red;
}

.inputField {
    height: 75px;
    /*background-color: white;*/
    font-size: 100%;
    font-weight: bold;
    color: #00ADFF;
    text-align: center;
    text-decoration: solid;
    /*text-shadow: 2px 2px #0099FF;*/
    /*border: 5px solid #F7F7F7;*/
}

#txtProductCode, #txtCellPhoneNumber, #clientPriceTxt {
    width: 30%;
    min-width: 200px;
    /*max-width: 500px;*/
}

#btnFindProductById, #btnSubmitCellPhoneNumber {
    font-size: 100%;
    height: 75px;
    min-width: 100px;
    max-width: 350px;
    /*background-color: white;*/
    /*border: 5px solid #F7F7F7;*/
    font-weight: bold;
    color: #00ADFF;
    text-align: center;
    vertical-align: middle;
}

#btnUseOffer, #btnSubmitCellPhoneNumber, #btnFindProductById, #btnBuyNow {
    -webkit-animation: blinkYB 2s infinite;
}

#btnUseOffer, #btnSubmitCellPhoneNumber, #btnFindProductById,
#btnBargain, #btnGetDiscount, #btnGetOneFree, #btnGetPresent,
#btnUseOffer, #btnTryAgain,
#btnBack, #btnForward, #btnHome, #btnSuggestNewPrice, #btnBuyNow {
    font-size: 100%;
    height: 75px;
    width: 30%;
    min-width: 150px;
    /*max-width: 350px;*/
    /*display: block;*/
    /*background-color: white;*/
    /*border: 5px solid #F7F7F7;*/
    font-weight: bold;
    color: #00ADFF;
    /*text-align: center;*/
    /*vertical-align: middle;*/
}

#btnBuyNow {
    width: 30%;
    min-width: 150px;
}


#btnBack, #btnForward, #btnHome, #btnUseOffer,
#btnUseOffer, #btnSubmitCellPhoneNumber, #btnFindProductById {
    font-size: 200%;

}

#productImgMain {
    width: 100%;
    /*height: 100%;*/
}

.background {
    background-color: #00ADFF; /*http://www.w3schools.com/tags/ref_colorpicker.asp*/
    /*http://cssfontstack.com/*/
}

.fullScreen {
    width: 100%;
    height: 100%;
}


#currencyLbl, #originalPrice, #minShopPrice, #countOfItemsToGetOneFree, #currencyCode {
    font-size: 12pt;
    font-weight: bold;
}

.btnBack, .btnForward {
    background-color: inherit;
    font-size: 500%;
    font-weight: bold;
    color: yellow;
    text-align: center;
    text-decoration: solid;
    text-shadow: 2px 2px #0099FF;
    border-color: #0099FF;
}

.getDiscountBtn {
    width: 355px;
    height: 140px;
    background-color: white;
    font-size: 40pt;
    font-weight: bold;
    color: #0099FF;
    text-align: center;
    text-decoration: solid;
    text-shadow: 2px 2px #F7F7F7;
    border: 5px solid #F7F7F7;
}

.hiddenInfo {
    font-size: 20pt;
    font-weight: bold;
    color: #F7F7F7;
    text-shadow: 1px 1px #0099FF;
}

@-webkit-keyframes blinkYB {
    0% {
        background: yellow;
    }

    100% {
        /*background: #00ADFF;*/
    }
}

@-webkit-keyframes blinkRB {
    0% {
        background: red;
    }

    100% {
        background: #00ADFF;
    }
}


