@charset "utf-8";

#btnHome{
    /*position: fixed;*/
}
#btnHome, #btnFindProductById {
    min-width: 240px;
    min-height: 90px;
}

#product_code_short
{
    font-size: 200%;
    font-weight: bold;
    color: #700D30;
}
#txtProductCode, #txtCellPhoneNumber, #clientPriceTxt {
    min-width: 300px;
    min-height: 90px;
    border: 5px dashed #700D30;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: #700D30;

}


header#header {
    height: 20%;
    width: 100%;
    min-height: 100px;
    min-width: 480px;
    font-size: 400%;
    font-weight: bold;
    color: yellow;
    background-color: #700D30;
    text-align: center;
}

section#body {
    height: 70%;
    width: 100%;
    min-height: 300px;
    min-width: 480px;
    display: block;
}

.leftPart {
    width: 30%;
}

.leftpart > img {
    /*height: 100%;*/
    width: 100%;
    min-height: 300px;
    min-width: 300px;
}

footer#footer {
    height: 10%;
    width: 100%;
    min-width: 480px;
    min-height: 80px;
}



.rightPart {
    width: 70%;
}










.homeFontStyle {
    font-size: 750%;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px #0099FF;
}

.endFontStyle {
    font-size: 500%;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px #0099FF;
}

.headerFontStyle {
    font-size: 500%;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px #0099FF;
}

/*.bodyFontStyle {*/
    /*font-size: 250%;*/
    /*font-weight: bold;*/
    /*color: #700D30;*/
/*}*/

.oldPriceFontStyle {
    /*font-size: 150%;*/
}

.discountForPriceFontStyle {
    color: silver;
}

.offerPriceFontStyle {
    /*font-size: 250%;*/
    font-weight: bold;
    color: red;
}



/*#btnUseOffer, #btnSubmitCellPhoneNumber, #btnFindProductById,*/
/*#btnBargain, #btnGetDiscount, #btnGetOneFree, #btnGetPresent,*/
/*#btnUseOffer, #btnTryAgain,*/
/*#btnBack, #btnForward, #btnHome, #btnSuggestNewPrice, #btnBuyNow {*/
/*font-size: 100%;*/
/*height: 75px;*/
/*min-width: 250px;*/
/*max-width: 250px;*/
/*font-weight: bold;*/
/*color: #700D30;*/

/*}*/

#btnBuyNow {
    width: 30%;
    min-width: 150px;
}

#productImgMain {
    width: 100%;
    /*height: 100%;*/
}

.background {
    background-color: #700D30; /*http://www.w3schools.com/tags/ref_colorpicker.asp*/
    /*http://cssfontstack.com/*/
}

.fullScreen {
    width: 100%;
    height: 100%;
}

#currencyLbl, #originalPrice, #minShopPrice, #countOfItemsToGetOneFree, #currencyCode {
    font-size: 12pt;
    font-weight: bold;
}

.btnBack, .btnForward {
    background-color: inherit;
    font-size: 500%;
    font-weight: bold;
    color: yellow;
    text-align: center;
    text-decoration: solid;
    text-shadow: 2px 2px #0099FF;
    border-color: #0099FF;
}

.getDiscountBtn {
    width: 355px;
    height: 140px;
    background-color: white;
    font-size: 40pt;
    font-weight: bold;
    color: #0099FF;
    text-align: center;
    text-decoration: solid;
    text-shadow: 2px 2px #F7F7F7;
    border: 5px solid #F7F7F7;
}

.hiddenInfo {
    font-size: 20pt;
    font-weight: bold;
    color: #F7F7F7;
    text-shadow: 1px 1px #0099FF;
}

@-webkit-keyframes blinkYB {
    0% {
        background: yellow;
    }

    100% {
        /*background: #700D30;*/
    }
}

@-webkit-keyframes blinkRB {
    0% {
        background: red;
    }

    100% {
        background: #700D30;
    }
}



